@import url(https://fonts.googleapis.com/css?family=Signika:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* ========== GENERAL ========== */
* {
    font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #222;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 4px solid #00FF00;
    width: 90px;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

#home, #services, #testimonials, #contacts {
    padding: 60px 0 60px;
}

/* .section {
    margin: 40px 0 40px;
} */

.main-menu {
    position: fixed;
    top: 0;
    z-index: 10;
    background: transparent;
    width: 100%;
    line-height: 80px;
}

ul.main-nav {
    list-style: none;
    margin: 0;
}

.main-nav {
    display: flex;
}

.main-nav li:first-child {
    margin-right: auto;
}

.main-nav li {
    margin-left: 36px;
    padding: 5px 0 5px;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Signika";
    font-weight: 700;
    text-transform: uppercase;
}

.main-nav a:active, 
.main-nav a:hover {
    color: #00FF00;
}

.main-nav .logo img {
    width: 210px;
}

a.active {
    color: #00FF00;
}

.scroll {
    position: fixed;
    top: 0;
    z-index: 10;
    background: #000;
    opacity: 0.8;
    width: 100%;
    line-height: 60px;
}

/* ========== ABOUT ========== */
#about {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-us-text {
    width: 80%;
    position: relative;
    text-align: justify;
    color: #fff;
}

#about .about-us-text p {
    font-size: 1.1em;
}

#about .about-center {
    text-align: center;
    font-size: 18px;
}

.recuo { text-indent:4em }

/* ========== SERVICES 3 COLUMN LAYOUT ========== */
#services {
    background: url(../img/background1.jpg) no-repeat fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grid {
    display: flex;
}

.flex-grid .col {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-grid .col i {
    margin-bottom: 20px;
}

/* ========== TESTIMONIALS ========== */
#testimonials {
    padding: 40px 0 40px;
}

.testimonials-wrapper {
    width: 600px;
    margin: 0 auto;
}

.testimonials-wrapper .testimonial-box {
    display: flex;
    padding-top: 20px;
}

.testimonials-wrapper .image-testimonial {
    padding: 20px;
}

.testimonials-wrapper .image-testimonial img {
    width: 200px;
    border-radius: 50%;
}

.testimonials-wrapper .text-testimonial, 
.testimonials-wrapper .image-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-testimonial p {
    color: #828282;
    font-style: italic;
}

p.name {
    font-style: normal;
    font-weight: bold;
    color: #00FF00;
}

/* ========== CONTACTS ========== */
#contacts {
    background: #000;
}
#contacts .container p {
    text-align: center;
    padding: 20px 0 20px;
}

#contacts form .custom-button {
    background: #00FF00;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #000;
    font-weight: bolder;
}

/* ========== FOOTER ========== */
footer {
    background: #333;
    color: #fff;
    padding: 40px 0 0;
}

footer .footer-wrapper .col {
    text-align: left;
    line-height: 1.2;
    padding: 0 20px 0;
}

footer .footer-wrapper .col a {
    color: #fff;
    text-decoration: none;
}

footer .social-wrapper a {
    color: #fff;
    padding: 6px;
}

footer .social-wrapper a:hover {
    color: #00FF00;
}

footer .text-footer {
    text-align: justify;
}

/* ========== FOOTER COPYRIGHT ========== */
footer .sub-footer {
    background-color: #222;
    padding: 20px 0 20px;
    text-align: center;
}

footer .sub-footer .container a {
    color: #fff;
    text-decoration: none;
}

footer .sub-footer .container a:hover {
    color: #9e9e9e
}